<div class="circle" (click)="toggleContextMenu()">
    <div class="inner-circle"></div>
    <div class="numerator">1</div>
</div>
@if(contextMenuVisible) {
    <context-menu></context-menu>
}
<div class="file-upload-container">
    <input type="text" [(ngModel)]="fileName" placeholder="הכנס כותרת">
    <label for="file-upload" class="upload-icon">
      📤 העלה קובץ
      <input id="file-upload" type="file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" style="display: none;">
    </label>
    <button (click)="uploadFile()">שלח</button>
    @if(uploadMessage) {
        <p>{{ uploadMessage }}</p>
    }
  </div>
  